body {
  color: black;
  font-size: large;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2em;
}

.umkc-title {
  font-size: xx-large;
  padding-left: 20px;
}

.about {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.about-information {
  padding-left: 100px;
}

.register-now-logo {
  padding-left: 2em;
}

.video {
  padding-left: 250px;
  padding-top: 50px;
}

.inputs {
  border-style: solid;
  border-radius: 5px;
  width: fit-content;
  padding: 15px;
}
